* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}
body {
  overflow-y: scroll;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heroMobile {
  display: flex;
  flex-direction: column;
  background-image: url(/hero2.png);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.popular-places-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
.trip-details{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 20px ;
  height: 100%;
  margin-inline: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 23px;
  margin-bottom: 123px;
}
.popular-places-container-mobile {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 0 auto;
  margin-top: 30px;
}
.popular-places {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 14px;
}
.popular-places-mobile {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 14px;
}
.places {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  /* padding-inline: 5px; */
  margin-top: 10px;
}
.top-destinations-mobile {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
  margin-top: 240px;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-weight: bold;
  font-size: 48px;
}
.bottom-tab-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background-color: white;
}
.bottom-tab-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.destinationCard {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 20px;
  padding-bottom: 10px;
}
.destinationCard:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 1120px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    margin-bottom: 160px;
  }
}
