@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Axiforma Regular";
  src: url("../assets/fonts/Axiforma-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Axiforma Light";
  src: url("../assets/fonts/Axiforma-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Recoleta Bold";
  src: url("../assets/fonts/RecoletaAlt-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: #011b33;
  overflow-x: hidden;
}

.responsive {
  width: 100%;
  height: auto;
}
option {
  color: #000000;
}
select {
  color: #000000;
}
h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Recoleta Bold";
}
/* p.bold {
  font-weight: 700;
} */

:root {
  font-size: 14px;
  --color-button-text: #fff;
  --color-primary-100: #f7fafc;
  --color-primary-200: #f4f4f4;
  --color-primary-300: #e2e8f0;
  --color-primary-400: #cbd5e0;
  --color-primary-500: #a0aec0;
  --color-primary-600: #718096;
  --color-primary-700: #787878;
  --color-primary-800: #262932;
  --color-primary-900: #1d1e26;

  --color-secondary-100: #ebf8ff;
  --color-secondary-200: #bee3f8;
  --color-secondary-300: #90cdf4;
  --color-secondary-400: #63b3ed;
  --color-secondary-500: #eaedfe;
  --color-secondary-600: #dff8ff;
  --color-secondary-700: #00c3ff;
  --color-secondary-800: #047ffe;
  --color-secondary-900: #041132;

  --color-text: #595759;

  --color-accent: #ffc043;
  --color-green: #50cd84;
  --color-green-light: rgba(237, 250, 243, 0.9);
  --color-red: #e11900;
  --color-red-light: #fdeeee;
  --color-purple: #ff3dec;
  --color-dark: #212529;
  --color-accent-hover: #ed8936;
  --color-accent-disabled: #f8e2d3;
  --screen-height-reduction: 0px;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
}

/* h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 2.8rem;
  } */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
h3 {
  font-size: 2rem;
}
input:re h4 {
  font-size: 1.4rem;
}

p {
  font-size: 16px;
  color: #656365;
  font-family: "Axiforma Regular";
  font-weight: 400;
  /* line-height: 32px; */
}
.text-white {
  color: #ffffff;
}

.text-dark {
  color: #000000;
}

p.small {
  font-size: 0.85rem;
}

/* for firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary-800) rgba(0, 0, 0, 0);
}

/* for non-firefox */
::-webkit-scrollbar {
  overflow: overlay;
  width: 5px;
  /* shouldnt hardcode width, pls find way to make it dynamic, thin wasn't working for me...*/
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-800);
  border-radius: 5px;
}

hr {
  color: var(--color-primary-300);
}
button:focus {
  outline: none;
}

