.main {
}

/* Enable hover only on non-touch devices */

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  .navbar {
    display: none;
    background-color: #047ffe;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}
.destinationsGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 14px;
  margin-top: 30px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .navbar {
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  }
  .heroDesktop {
    display: flex;
    flex-direction: column;
    background-image: url(/hero2.png);
    height: 1200px;
    width: 100%;
    
  }
  .topDestinations {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: white;
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
    padding: 20px;
  }
}

.button {
  background-color: #047ffe;
  color: white;
  padding: 8px 30px;
  border: 0;
  border-radius: 400px;
  font-size: 16px;
}
